<div class="travel-with-icon-area" ng-class="{ 'in-edition': inEdition }" ng-mouseover="open()" ng-mouseleave="closeAfterDelay()">
    <div ng-if="inEdition && ! selected.key" class="tour-icon travel-with-icon selected-icon" ng-click="openClose()">
        <span class="glyphicon glyphicon-th-list" ></span>
        <span class="caret"></span>
    </div>
    <div ng-if="selected.key" class="tour-icon travel-with-icon selected-icon"ng-click="openClose()"
        tooltip="{{ selected.label | translate }}" tooltip-placement="bottom">
        <span  ng-class="'icon-travelwith-' + selected.key" ></span>
        <span ng-if="inEdition" class="caret"></span>
    </div>
    <div ng-if="inEdition" class="travel-with-icon-select" ng-class="{ 'visible': isSelectVisible }">
        <div ng-repeat="option in options" class="tour-icon travel-with-icon option" ng-click="select(option)"
            tooltip="{{ option.label | translate }}" tooltip-placement="right" >
                <span ng-class="'icon-travelwith-' + option.key" ></span>
        </div>
    </div>
</div>