.travel-with-icon-area {
    display: inline-block;
    position: relative;
    .travel-with-icon {
        width: 45px;
        font-size: 28px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
        background: #0b9d38;
        &.selected-icon {
            background: #389d0b;
        }
        cursor: default;
    }
    &.in-edition .travel-with-icon {
        width: auto;
        cursor: pointer;
        &:hover {
            background: #0b9d38;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
    }
    .travel-with-icon-select {
        position: absolute;
        z-index: 100;
        display: none;
        left: 5px;
        padding: 7px;
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
        .tour-icon.travel-with-icon.option {
            display: block;
            cursor: pointer;
            margin: 2px;
            &:hover {
                background: #389d0b;
            }
            width: 45px;
        }
        &.visible {
            display: block;
        }
    }
}
