<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container my-tour-step-page">
    <ol class="breadcrumb">
        <li><a href="/my-tours">My tours</a>
        </li>
        <li><a href="/my-tour/{{ step.tour._id }}">{{ step.tour.title }}</a>
        </li>
        <li class="active">From {{ step.cityFrom.name }} to {{ step.cityTo.name }}</li>
    </ol>
    <h2>From {{ step.cityFrom.name }} to {{ step.cityTo.name }}</h2>
    <div class="row">
        <div class="col-md-7">
            <div extended-map config="mapConfig"></div>
        </div>

        <div class="col-md-5">
            <form role="form">
                <section class="form-section">
                    <div ng-show="step.hasTrace() && !step.isTraceInEdition">
                        <a ng-click="step.isTraceInEdition = true" class="btn btn-default edit-step-trace-button pull-right"><i class="fa fa-pencil-square-o"></i></a>
                    </div>
                    <div ng-show="step.isTraceInEdition">
                        <a ng-click="step.isTraceInEdition = false" class="btn btn-success leave-edit-step-trace-button pull-right"><i class="fa fa-check"></i></a>
                    </div>
                    <h3>Your itinary trace</h3>
                    <div ng-show="step.hasTrace()">
                        <h4>Trace resume</h4>
                        Your trace has {{ step.points.length }} points. Distance: {{ step.readableDistance }}.
                        <div ng-show="step.isTraceInEdition">
                            <a title="Delete current trace" ng-click="deleteTrace()" class="btn btn-danger delete-step-button"><i class="fa fa-trash-o"></i> delete current trace</a>
                        </div>
                    </div>
                    <div ng-hide="step.hasTrace() && !step.isTraceInEdition">
                        <h4>Update your trace</h4>
                        <div class="form-group">
                            Upload your GPS trace (*.kml file):
                            <input type="file" ng-file-select="onFileSelect($files)">
                        </div>

                        <div class="form-group">
                            Or draw it manually using the tools in the map!
                        </div>
                    </div>

                </section>

            </form>
        </div>
    </div>
</div>