.my-tour-step-page {
    .photos-area {
        img {
            width: 100%;
        }
        .remove-button{
            position: absolute;
            right: 17px;
            top: 6px;
            padding: 2px 6px;
            border: 0;
            background-color: #ddd;
            color: rgba(180, 32, 32, 0.81);
            border-radius: 0;
            &:hover{
                background-color: #f2f2f2;
            color: rgba(180, 32, 32, 0.9);
            
            }
        }
    }
    .trace-resume-area {
        td {
            text-align: right;
        }
    }
    .my-tour-step-map {
        height: 600px;
    }
    legend {
        width: inherit;
        /* Or auto */
        padding: 0 10px;
        /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
    .selected-point-of-interest .interest-type {
        .icon {
            font-size: 14px;
            background-color: blue;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
        &.interest .icon {
            // green
            background-color: #6fac25;
        }
        &.bike-shops .icon {
            // pink
            background-color: #ff90e9;
        }
        &.food .icon {
            // black
            background-color: #303030;
        }
        &.danger .icon {
            // red
            background-color: #d53e2a;
        }
    }
    .form-group.required .control-label:after {
        content: "*";
        color: red;
        font-weight: bold;
    }
}
