.my-tour-step-page {
    .trace-resume-area {
        td {
            text-align: right;
        }
    }
    .my-tour-step-map {
        height: 600px;
    }
    legend {
        width: inherit;
        /* Or auto */
        padding: 0 10px;
        /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
    .form-section {
        background: #fff;
        padding: 10px;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        margin-bottom: 20px;
    }
    .selected-point-of-interest .interest-type {
       .icon {
            font-size: 14px;
            background-color: blue;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
        &.interest .icon {
            // green
            background-color: #6fac25;
        }
        &.bike-shops .icon {
            // pink
            background-color: #ff90e9;
        }
        &.food .icon {
            // black
            background-color: #303030;
        }
        &.danger .icon {
            // red
            background-color: #d53e2a;
        }
    }
    .form-group.required .control-label:after {
        content: "*";
        color: red;
        font-weight: bold;
    }
}
