<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container my-tour-step-page">
    <ol class="breadcrumb">
        <li><a href="/my-tours" translate="mytours.nav-bar_name">My tours</a>
        </li>
        <li><a href="/my-tour/{{ step.tour._id }}">{{ step.tour.title }}</a>
        </li>
        <li class="active">{{mytours.steps.from}} {{ step.cityFrom.name }} {{mytours.steps.to}} {{ step.cityTo.name }}</li>
    </ol>
    <h2>{{ "mytours.steps.from" | translate }} {{ step.cityFrom.name }} {{ "mytours.steps.to" | translate }} {{ step.cityTo.name }}</h2>
    <div class="row">
        <div class="col-md-7">
            <div extended-map config="mapConfig"></div>
        </div>

        <div class="col-md-5">

            <div class="modal fade" role="dialog" arial-hidden="true" id="new-point-of-interest-form">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" translate="mytourstep.new">New point of interest</h4>
                        </div>
                        <div class="modal-body">
                            <form novalidate role="form" name="createPointForm" ng-submit="submitCreatePointForm(createPointForm)">
                                <section class="form-section">
                                    <div class="form-group required" ng-class="{ 'has-error':  createPointForm.type.$invalid, 'has-success':createPointForm.type.$valid }">
                                        <label class="control-label">Type</label>
                                        <select required name="type" ng-model="newMarker.type" class="form-control">
                                            <option value="interest" translate="mytourstep.interest">interest</option>
                                            <option value="bike-shops" translate="mytourstep.bike-shop">bike-shop</option>
                                            <option value="food" translate="mytourstep.food">food</option>
                                            <option value="danger" translate="mytourstep.danger">danger</option>
                                        </select>
                                    </div>
                                    <div class="form-group required" ng-class="{ 'has-error':  createPointForm.name.$dirty && createPointForm.name.$invalid, 'has-success': createPointForm.name.$dirty && createPointForm.name.$valid }">
                                        <label class="control-label" translate="mytourstep.name">Name</label>
                                        <input required name="name" ng-model="newMarker.name" type="text" class="form-control" placeholder="Enter the name of this point ...">
                                        <label class="error-label" ng-show="createPointForm.name.$invalid && createPointForm.name.$dirty" translate="mytourstep.name_warn">The name is required.</label>
                                    </div>
                                    <div class="form-group required" ng-class="{ 'has-error':  createPointForm.description.$dirty && createPointForm.description.$invalid, 'has-success': createPointForm.description.$dirty && createPointForm.description.$valid }">
                                        <label accesskey="" class="control-label" translate="mytourstep.description">Description</label>
                                        <input required name="description" ng-model="newMarker.description" type="text" class="form-control" placeholder="Enter the description of this point ...">
                                        <label class="error-label" ng-show="createPointForm.description.$invalid && createPointForm.description.$dirty" translate="mytourstep.description_warn">The description is required.</label>
                                    </div>
                                    <div class="form-group">
                                        <a ng-disabled="createPointForm.$invalid" class="btn btn-primary" ng-click="submitCreatePointForm(createPointForm)"><i class="icon fa fa-plus-square"></i> {{ "mytourstep.add_to_map" | translate }}</a>
                                    </div>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <form role="form">
                <section class="form-section">
                    <div ng-show="steppoints.length && !step.isTraceInEdition">
                        <a ng-click="step.isTraceInEdition = true" class="btn btn-default edit-step-trace-button pull-right"><i class="fa fa-pencil-square-o"></i></a>
                    </div>
                    <div ng-show="step.isTraceInEdition">
                        <a ng-click="step.isTraceInEdition = false" class="btn btn-success leave-edit-step-trace-button pull-right"><i class="fa fa-check"></i></a>
                    </div>
                    <h3 translate="mytourstep.your_itinary_trace">Your itinary trace</h3>
                    <div ng-show="steppoints.length">
                        <h4 translate="mytourstep.trace_resume">Trace resume</h4>

                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th translate="mytourstep.total_distance">Total distance</th>
                                    <td>{{ step.readableDistance }}</td>
                                </tr>
                                 <tr  ng-show="step.readablePositiveElevationGain">
                                   <th translate="mytourstep.positive_elevation_gain">Positive elevation gain</th>
                                    <td>{{ step.readablePositiveElevationGain }}</td>
                                </tr>
                                 <tr ng-show="step.readableNegativeElevationGain">
                                    <th translate="mytourstep.negative_elevation_gain">Negative elevation gain</th>
                                    <td>{{ step.readableNegativeElevationGain }}</td>
                                </tr>
                                 <tr>
                                    <th translate="mytourstep.points_number">Number of points</th>
                                    <td>{{ steppoints.length }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-hide="steppoints.length && !step.isTraceInEdition">
                        <h4>Update your trace</h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="file-upload btn btn-primary">
                                        <span translate="mytourstep.select_gps_file">Sélectionner un fichier de trace GPS (*.kml file):</span>
                                        <input type="file" class="upload" ng-file-select="onFileSelect($files)" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div ng-show="step.isTraceInEdition">
                                        <a title="Delete current trace" ng-click="deleteTrace()" class="btn btn-danger delete-step-button"><i class="fa fa-trash-o"></i> delete current trace</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            Or draw it manually using the tools in the map!
                        </div>
                    </div>
                </section>
                <!-- <section class="form-section points-of-interest">
                    <h3>Points of interest</h3>
                    <div class="form-group">
                        <a class="btn btn-primary" ng-click="open()"><i class="icon fa fa-plus-square"></i>  Create a new point of interest</a>
                    </div>
                    <div class="form-group point-of-interest {{ marker.type }}" ng-class="{ 'in-edition': marker.isInEdition }" ng-repeat="marker in step.markers">
                        <div ng-hide="marker.isInEdition">
                            <a ng-click="marker.isInEdition = true" class="btn btn-default pull-right"><i class="fa fa-pencil-square-o"></i></a>
                        </div>
                        <div ng-show="marker.isInEdition">
                            <a ng-click="updateMarker(marker)" class="btn btn-success pull-right"><i class="fa fa-check"></i></a>
                        </div>
                        <h4 ng-switch="marker.type">
                            <span ng-switch-when="interest">
                                <i class="icon glyphicon glyphicon-eye-open"></i> Interest
                            </span>
                            <span ng-switch-when="bike-shops">
                                <i class="icon glyphicon glyphicon-wrench"></i> Bike shop
                            </span>
                            <span ng-switch-when="food">
                                <i class="icon glyphicon glyphicon-cutlery"></i> Food
                            </span>
                            <span ng-switch-when="danger">
                                <i class="icon fa fa-exclamation-triangle"></i> Danger
                            </span>
                            <span ng-switch-default>                               
                                <i class="icon glyphicon glyphicon-question-sign"></i> Other
                            </span>
                            <span ng-show="marker.name">"{{ marker.name }}"</span>
                        </h4>
                        <div class="form-group" ng-show="marker.isInEdition">
                            <label>Name</label>
                            <input ng-model="marker.name" type="text" class="form-control" placeholder="Enter the name of this point ...">
                        </div>
                        <div class="form-group" ng-show="marker.isInEdition">
                            <label>Description</label>
                            <input ng-model="marker.description" type="text" class="form-control" placeholder="Enter the description of this point ...">
                        </div>
                    </div>
                </section>-->
            </form>
        </div>
    </div>
</div>
