<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container region-page page" ng-if="tours">

    <h2>Zone géographique: <span class="city-name">{{region.name}}</span></h2>

    <div class="list-map-area">
        <div class="row">
            <div class="col-md-6">
                <div class="tours-resume-list-area">
                    <h3>Choisissez un trajet</h3>
                    <table class="smart-table table table-striped table-hover">
                        <tbody>
                            <tr class="tour-resume-list" ng-click="openTour(tour)" ng-repeat="tour in tours">
                                <td class="title">{{ tour.title }}
                                   <div> <div class="tour-rating">
                                        <rating state-on="'fa fa-bicycle selected'" state-off="'fa fa-bicycle unselected'" readonly="true" ng-model="tour.difficulty" max="3"></rating>
                                    </div>

                                    <div class="tour-rating">
                                        <rating state-on="'glyphicon-star selected'" state-off="'glyphicon-star unselected'" readonly="true" ng-model="tour.interest" max="5"></rating>
                                    </div></div>
                                </td>
                                <td class="steps">{{ tour.steps.length }} étape(s)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="region-map-area responsive-map-area smart-area smart-map-area">
                    <div class="region-map" map config="mapConfig"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="tour-details-list" ng-repeat="tour in tours">
        <div class="row tour-details">
            <div class="col-md-3 photo-area">
                <img ng-if="tour.photo.thumbnails.w600h400" class="photo" ng-src="{{ tour.photo.thumbnails.w600h400 }}">
            </div>
            <div class="col-md-9">
                <a ng-if="isAllowedToEdit(tour)" class="pull-right" href="/my-tour/{{ tour._id }}">
                    <i class="fa fa-edit"></i> {{ 'tour-details.edit-the-tour' | translate }}
                </a>
                <h2>{{ tour.title }}</h2>
                <div ng-bind-html="tour.description"></div>

            </div>

        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
