<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container region-page page" ng-if="tours">

    <div class="row">
        <div class="col-md-6">
            <div class="list-map-area bordered-area large-area">
                <h1><span translate="region.title">Search a tour in </span><span class="city-name">{{region.name}}</span></h1>

                <div class="tours-resume-list-area">
                    <div class="list-group tour-resume-list">
                        <div class="list-group-item link" ng-repeat="tour in tours" ng-click="openTour(tour)">
                           
                            <a ng-if="securityService.isTourEditable(tour)" class="pull-right" href="/tour/{{ tour._id }}/edit">
                                <i class="fa fa-edit"></i> {{ 'global.actions.edit' | translate }}
                            </a>
                            <div class="quick-info-area">
                                <div class="rating-area">
                                    <div class="rating">
                                        <rating state-on="'fa fa-bicycle selected'" state-off="'fa fa-bicycle unselected'" readonly="true" ng-model="tour.difficulty" max="3"></rating>
                                    </div>
                                    <div class="rating">
                                        <rating state-on="'glyphicon-star selected'" state-off="'glyphicon-star unselected'" readonly="true" ng-model="tour.interest" max="5"></rating>
                                    </div>
                                </div>
                                <div class="distance-info">
                                    <span class="distance" ng-if="tour.distance">
                                        {{ tour.distance / 1000 | number: 0 }} kms - 
                                    </span>
                                    <span class="steps-number">
                                        {{ tour.steps.length }} étape(s)
                                    </span>
                                </div>
                            </div>
                            <div class="list-group-item-heading">
                                {{ tour.title }}
                            </div>
                            <div collapse="isCollapsed(tour)">
                                <div class="collapsable-area">
                                    <div class="row">
                                        <div ng-if="tour.photo.thumbnails.w600h400" class="col-md-3 photo-area">
                                            <img class="photo" ng-src="{{ tour.photo.thumbnails.w600h400 }}">
                                        </div>
                                        <div ng-class="{ 'col-md-9': tour.photo.thumbnails.w600h400, 'col-md-12': !tour.photo.thumbnails.w600h400 }">
                                            <p class="tour-description" truncate-text ng-bind-html="tour.description"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-tag-icons-area">
                                <div class="small-tag-icon travel-with" travel-with-icon model="tour.travelWith" in-edition="false"></div>
                                <div class="small-tag-icon keyword" keyword-icons model="tour.keywords" in-edition="false"></div>
                                <a ng-show="isCollapsed(tour)" class="btn btn-sm btn-default pull-right detail-btn" ng-click="$event.stopPropagation(); showTourDetails(tour)">Show details</a>
                                <a ng-hide="isCollapsed(tour)" class="btn btn-primary btn-default pull-right" >Open tour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="region-map-area responsive-map-area smart-area smart-map-area">
                <div class="region-map" map config="mapConfig"></div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" translate="region.warning">
        GlobalBiker is early stage of development. The geographical area is restricted to France for now, and is not yet open to public contribution.
    </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
