@import "table";

.region-page {
    width: 95%;
    .alert {
        margin-top: 20px;
    }
    .region-map {
        height: 600px;
    }
    .list-map-area {
        border: 2px solid $color1;
        border-bottom: none;
        border-right: none;
        border-radius: 10px 0 0 0;
        padding: 10px;
        .tour-resume-list {
            .title {
                font-weight: bold;
                .rating {
                    display: inline-block;
                    width: 100px;
                }
            }
            .steps {
                color: $color2;
                .steps-number {}
                .distance {
                    font-weight: bold;
                }
            }
            .small-tag-icon {
                display: inline-block;
                .keyword-icons-area{
                    display: inline-block;
                }
                .tour-icon {
                    display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                    height: 30px;
                    width: 30px;
                    padding: 2px 2px;
                    font-size: 18px;
                }
                &.keyword .tour-icon {
                    padding: 5px 2px;
                }
            }
        }
    }
    .tour-details-list {
        /*background: $color2light1;
        box-shadow: 1px 1px 2px 1px $color2dark2;*/
        //border: 2px solid $color2;
        /* border-top: none;
         border-left: none;*/
        border-radius: 10px;
        margin-top: 10px;
        color: $black1;
        font-size: 16px;
        text-align: justify;
        background-color: #f9f9f9;
        .tour-details {
            margin: 20px;
            padding: 20px 10px;
            vertical-align: middle;
            a {
                color: $color2;
            }
            .photo-area {
                padding: 10px;
                text-align: center;
                vertical-align: middle;
            }
            .photo {
                max-height: 200px;
                max-width: 100%;
                background-color: white;
                box-shadow: 2px 5px 10px #000000;
                padding: 6px;
            }
        }
    }
    .images-bar {
        text-align: center;
    }
    .region-map-area {
        .alert {
            margin: 0;
            border-radius: 0px;
        }
    }
    .carousel-area {
        //height: 258px;
        text-align: center;
        overflow: hidden;
        background: transparent;
        vertical-align: middle;
        .carousel-control {
            background: transparent;
            cursor: pointer;
        }
        .carousel-indicators {
            // margin-bottom: 0px;
       
        }
        img {
            display: inline;
            height: 200px;
        }
    }
    .city-name {
        color: $color1;
    }
}
