@import "table";

.region-page {
    width: 95%;
    .alert {
        margin-top: 20px;
    }
    .region-map {
        height: 600px;
    }
    .city-name {
        color: $color1;
    }
    .list-map-area {
        border: 2px solid $color1;
        border-bottom: none;
        border-right: none;
        border-radius: 10px 0 0 0;
        padding: 10px;
        .tour-resume-list {
            .list-group-item {
                display: block;
                padding: 0px 15px 10px 15px;
                &.tour-status-draft {
                    color: grey;
                    font-style: italic;
                }
                &:hover {
                    background: rgba($color2light2, 0.05);
                }
                .list-group-item-heading {
                    font-size: 14px;
                    margin: 5px 0 10px 0;
                    clear: none;
                    font-weight: bold;
                }
                .small-tag-icons-area {
                    clear: both;
                    margin: 10px 0 10px 0;
                    .small-tag-icon {
                        display: inline-block;
                        .keyword-icons-area {
                            display: inline-block;
                        }
                        .tour-icon {
                            display: inline-block;
                            text-align: center;
                            vertical-align: middle;
                            height: 25px;
                            width: 25px;
                            padding: 2px 2px;
                            font-size: 18px;
                        }
                        &.keyword .tour-icon {
                            padding: 5px 2px;
                        }
                    }
                }
                .quick-info-area {
                    float: right;
                    text-align: center;
                    .rating-area {
                        .rating {
                            font-size: 12px;
                            display: inline-block;
                            margin: 5px 0 0 5px;
                        }
                    }
                    .distance-info {
                        font-size: 12px;
                        font-style: italic;
                        color: $color2;
                        .steps-number {}
                        .distance {
                            font-weight: bold;
                        }
                    }
                }
                .collapsable-area {
                    margin-top: 20px;
                    clear: both;
                    .tour-description {
                        max-height: 100px;
                        overflow: hidden;
                        text-align: justify;
                    }
                    .photo-area {
                        padding: 0 0 0 15px;
                        text-align: left;
                        vertical-align: top;
                        .photo {
                            max-height: 100px;
                            max-width: 100%;
                        }
                    }
                }
                .detail-btn {
                    padding: 1px 5px;
                    margin-top: 10px;
                }
            }
        }
    }
}
