<div ng-include="'components/navbar/navbar.html'"></div>
<div class="journey-edit-stopovers-page full-page-map-page">

    <div class="full-page-map-area">
        <div class="full-page-map" map config="mapConfig"></div>
        <div class="full-page-map-overlay-area status-messages-area" ng-if="saveInProgress">
            <div ng-if="saveInProgress" class="alert alert-info">
                <i class="fa fa-spin fa-spinner"></i> Sauvegarde en cours...
            </div>
        </div>
        <div class="full-page-map-overlay-area overlay-panel context-area">
            <h4 class="main-title">Excales du voyage</h4>
            <p>Nous allons désormais découper votre voyage en étapes d'une journée chacune.</p>
            <p>Pour ce faire, veuillez indiquez parmis les points de passage quelles sont ceux correspondants à vos escales.</p>

            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Escale</th>
                        <th>Ville</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="link" ng-repeat="wayPoint in tour.wayPoints" ng-click="toggleStopover(wayPoint)">
                        <td>
                            <input ng-click="updateWayPointsAfterDelay(tour); $event.stopPropagation();" ng-disabled="isWorkInProgress()" type="checkbox" ng-model="wayPoint.stopover">
                        </td>
                           <td class="waypoint-city">
                            {{ wayPoint.city.name }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label>Valider les escales</label>
                <p>Une fois vos choix terminés, passez à l'étape suivante:</p>
                <div class="text-center">
                    <a ng-if="tour._id" ng-disabled="isWorkInProgress() || autoSaveIsPlanned" ui-sref="journey-edit-stopovers({tourReference: tour.reference})" class="btn btn-primary">Etape suivante</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>