node_modules
public
.tmp
.sass-cache
client/bower_components
dist
/server/config/local.env.js
/.brackets.json
server/uploads
server/photos
/npm-debug.log
logs
server/config/environment/development.js
server/config/environment/production.js
