<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container toulouse-page page" ng-if="tours">

    <h2>Découvrez la région de <span class="city-name"> Toulouse</span> à vélo!</h2>
    <!--<div class="col-md-4" ng-if="photos">
            <div class="carousel-area">
                <div>
                    <carousel interval="5000">
                        <slide ng-repeat="photo in photos" active="photo.active">
                            <img class="smart-area" ng-src="{{ photo.thumbnails.w600h400 }}">
                            <p>
                                <a ng-if="photo.author" class="author" rel="author" ng-href="{{ photo.author.url }}">{{ photo.author.name }}</a>
                                -
                                <a ng-if="getLicense(photo)" class="license" rel="license" ng-href="{{ getLicense(photo).url }}">{{ getLicense(photo).name }}</a>
                            </p>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>-->

    <div class="list-map-area">
        <div class="row">
            <div class="col-md-6">
                <div class="tours-resume-list-area">
                    <h3>Choisissez un trajet</h3>
                    <table class="smart-table table table-striped table-hover">
                        <tbody>
                            <tr class="tour-resume-list" ng-click="openTour(tour)" ng-repeat="tour in tours">
                                <td class="title">{{ tour.title }}
                                </td>
                                <td class="steps">{{ tour.steps.length }} étape(s)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="toulouse-map-area responsive-map-area smart-area smart-map-area">
                    <div extended-map config="mapConfig"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="tour-details-list" ng-repeat="tour in tours">
        <div class="row tour-details">
            <div class="col-md-3 photo-area">
                <img ng-if="tour.photo.thumbnails.w600h400" class="photo" ng-src="{{ tour.photo.thumbnails.w600h400 }}">
            </div>
            <div class="col-md-9">
                <a ng-if="isAllowedToEdit(tour)" class="pull-right" href="/my-tour/{{ tour._id }}">
                    <i class="fa fa-edit"></i> {{ 'tour-details.edit-the-tour' | translate }}
                </a>
                <h2>{{ tour.title }}</h2>
                <div ng-bind-html="tour.description"></div>

            </div>

        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
