.toulouse-page {
    .images-bar {
        text-align: center;
        img {
            height: 110px;
            background-color: white;
            box-shadow: 1px 3px 5px #555;
            padding: 4px;
            margin: 2px;
        }
    }
    .toulouse-map-area {
        .toulouse-map {
            height: 500px;
        }
        .alert {
            margin: 0;
        }
        border: 10px solid #555;
        border-radius: 10px;
    }
}
