<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container toulouse-page">

    <h2>Découvrez la région de Toulouse à vélo!</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="toulouse-map-area responsive-map-area smart-map-area">
                <div extended-map config="mapConfig"></div>
                <div class="alert alert-info" role="alert">Cliquez sur la carte pour découvrir les parcours à vélo de la région.</div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="isAdmin()">
        <div class="col-md-12">
            <h3>Admin area</h4>
            <h4>Points of interest</h4>
            <input ng-model="mapConfig.configuration.interests.visible.show" type="checkbox" /> show visible
            <input ng-model="mapConfig.configuration.interests.invisible.show" type="checkbox" /> show invisible
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Trajets disponibles</h3>
            <ul>
                <li ng-repeat="tour in tours"><a href="/tour-details/{{ tour._id }}">{{ tour.title }}</a> - {{ tour.steps.length }} étape(s)</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Toulouse s'engage à vélo</h3>
            <ul>
                <li>Profitez d'un réseau de X kms de voies vertes.</li>
                <li>Découvrez le patrimoine de notre belle région de manière originale.</li>
                <li>Dégustez tout au long de votre parcours les spécialités gastronomiques du Sud-Ouest.</li>
                <li>Rejoignez d'autres cyclistes le long du Canal Midi, inscrit au patrimoine de l'Unesco.</li>
                <li>Reposez vous dans l'un des nombreux établissements de la région.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="images-bar">
                <img class="smart-photo" src="/assets/images/p01.jpg" />
                <img class="smart-photo" src="/assets/images/p02.jpg" />
                <img class="smart-photo" src="/assets/images/p05.jpg" />
                <img class="smart-photo" src="/assets/images/p03.jpg" />
                <img class="smart-photo" src="/assets/images/p04.jpg" />
            </div>
        </div>
    </div>


</div>

