@import "table";

.toulouse-page {
    .images-bar {
        text-align: center;
    }
    .toulouse-map-area {
        margin-top: 20px;
        .alert {
            margin: 0;
            border-radius: 0px;
        }
    }
    .carousel-area {
        //height: 258px;
        text-align: center;
        overflow: hidden;
        background: transparent;
        vertical-align: middle;
        .carousel-control {
            background: transparent;
            cursor: pointer;
        }
        .carousel-indicators {
           // margin-bottom: 0px;
        }
        img {
            display: inline;
            height: 200px;
        }
    }
    .city-name {
        color: $color1;
    }
    .toulouse-presentation {
        font-size: 16px;
    }
}
