<footer>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="links text-center">
                <a class="social blog" href="http://blog.globalbiker.org" target="_blank" title="blog">Blog</a>
                |
                <a class="press" href="/press"><span translate="footer.press">Presse</span></a>
                |
                <a class="press" href="/about"><span translate="menu.about-us">About</span></a>
                |
                <a class="press" href="/contacts"><span translate="menu.contacts">Contact us</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-3">
            <div class="social-links">
                <a class="social twitter" href="https://twitter.com/globalbiker_org" target="_blank" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="social facebook" href="https://www.facebook.com/globalbikercommunity" target="_blank" title="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="social github" href="https://github.com/GlobalBiker/globalbiker-web" target="_blank" title="Github">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-3 text-center">
           <span locale-switcher></span>
        </div>
    </div>

    <div class="row licence">
        Projet open-source, code disponible sur <a href="https://github.com/GlobalBiker/globalbiker-web" target="_blank">Github</a>.
    </div>

    <div class="row attributions">
        OpenStreetMap Tiles Courtesy of <a href="http://www.mapquest.com" target="_blank">MapQuest</a>. Cities geolocation using <a href="http://www.geonames.org" target="_blank">Geonames</a>.
    </div>
</footer>