.step-details-page {
    .description {
        padding: 10px;
    }
    .interests-area {
        padding: 30px;
        .photo {
            max-width: 100%;
            max-height: inherit;
        }
    }
}
