.step-details-page {
    .description {
        padding: 10px;
    }
    .interests-area {
        padding: 30px;
        .photo {
            max-width: 100%;
            height: 300px;
        }
        .carousel-control {
            background: transparent;
            cursor: pointer;
        }
        .carousel-indicators {
            margin-bottom: -0px;
        }
        
        .author, .license{
            text-shadow: 1px 1px 0px #6d6d6d;
        }
        .author{
            color: #a8a8a8;
        }
        .license{
            color: #cbcbcb;
        }
    }
}
