<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container tour-details-page page" ng-if="tour && step">

    <ol class="breadcrumb">
        <li><a href="/toulouse" translate="mytours.nav-bar_name">Tours</a>
        </li>
         <li><a href="/tour-details/{{ tour._id }}" translate="mytours.nav-bar_name">{{ tour.title }}</a>
        </li>
        <li class="active"><span>{{ 'mytours.steps.from' | translate }} "{{ step.cityFrom.name }}" {{ 'mytours.steps.to' | translate }} "{{ step.cityTo.name }}"</span></li>
        
    </ol>
    <a ng-if="isAllowedToEdit(tour)" class="pull-right" href="/my-tour/{{ tour._id }}">
        <i class="fa fa-edit"></i> {{ 'tour-details.edit-the-tour' | translate }}
    </a>
    <h1>{{ tour.title }}</h1>
    <div class="alert tour-description" ng-if="tour.description" ng-bind-html="tour.description"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="tour-map-area responsive-map-area smart-map-area">
                <div extended-map config="tourMapConfig"></div>
            </div>
        </div>
    </div>

</div>
