<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container tour-details-page page" ng-if="tour">

    <div class="row">

        <div class="col-md-6 tour-details-area">

            <a ng-if="isAllowedToEdit(tour) && !inEdition" class="btn btn-default edit-button pull-right" ng-click="edit()" ng-title="{{ 'tour-details.edit-the-tour' | translate }}">
                <i class="fa fa-pencil-square-o"></i>
            </a>
            <a ng-if="isAllowedToEdit(tour) && inEdition" class="btn btn-primary edit-button pull-right" ng-click="save()" ng-title="{{ 'tour-details.edit-the-tour' | translate }}">
                <i class="fa fa-check"></i>
            </a>
            <h1>{{ tour.title }}</h1>

            <div ng-include="'app/tour-details/tour-details_icon-bar.html'"></div>

            <div ng-if="inEdition">
                <textarea ui-tinymce="tinymceOptions" name="description" ng-model="tour.description" type="text" class="form-control"></textarea>
            </div>

            <div ng-if="!inEdition" class="alert description" ng-if="tour.description" ng-bind-html="tour.description"></div>

            <div ng-if="tour.photo.thumbnails.w600h400" class="photo-area">
                <img class="photo" ng-src="{{ tour.photo.thumbnails.w600h400 }}">
            </div>

            <div class="steps-list-area">
                <h3>Choisissez une étape</h3>
                <table class="smart-table table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'tour-details.step' | translate }}</th>
                            <th class="route">Route</th>
                            <th>Difficulty</th>
                            <th>Interest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="openStep(step)" ng-repeat="step in tour.steps">
                            <td class="step-index">{{ $index + 1 }}</td>
                            <td class="main">
                                <span>{{ 'mytours.steps.from' | translate }} {{ step.cityFrom.name }} {{ 'mytours.steps.to' | translate }} {{ step.cityTo.name }}</span>
                            </td>
                            <td class="tour-step-rating">
                                <rating state-on="'fa fa-bicycle selected'" state-off="'fa fa-bicycle unselected'" readonly="true" ng-model="step.difficulty" max="3"></rating>
                            </td>
                            <td class="tour-step-rating">
                                <rating state-on="'glyphicon-star selected'" state-off="'glyphicon-star unselected'" readonly="true" ng-model="step.interest" max="5"></rating>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tour-map-area responsive-map-area smart-area smart-map-area">
                <div class="tour-map" map config="mapConfig"></div>
            </div>
        </div>
    </div>

</div>
