<div class="icon-bar">

    <div ng-visible="tour.interest" class="tour-icon tour-rating interest">
        <label>Interest</label>
        <rating state-on="'glyphicon-star selected'" state-off="'glyphicon-star unselected'" readonly="true" ng-model="tour.interest" max="5"></rating>
    </div>

    <div ng-visible="tour.difficulty" class="tour-icon tour-rating difficulty">
        <label>Difficulty</label>
        <rating state-on="'fa fa-bicycle selected'" state-off="'fa fa-bicycle unselected'" readonly="true" ng-model="tour.difficulty" max="3"></rating>
    </div>
    <div class="tour-travel-with-icon" travel-with model="tour.travelWith" in-edition="true"></div>

    <div ng-if="tour.keywords" ng-repeat="keyword in tour.keywords" class="tour-icon tag-icon" ng-class="'icon-tag-' + keyword">
    </div>
</div>
<div ng-if="inEdition">Click on icons to select/unselect travel parners &amp; tags:</div>
