.tour-details-page {
    width: 95%;
    .tour-details-area {
        h1{
            font-size: 32px;
        }
        background: rgba($color1, 0.01);
        border: 5px solid $color1;
        border-radius: 10px 5px 5px 5px;
        padding: 15px;
        .icon-bar {
            .tour-icon {
                display: inline-block;
                padding: 5px;
                margin-left: 15px;
                text-align: center;
                vertical-align: middle;
                height: 40px;
                &.difficulty, &.interest {
                    width: 80px;
                    font-size: 12px;
                    float: right;
                    label {
                        display: block;
                        text-align: center;
                    }
                }
                &.travel-with-icon, &.tag-icon {
                    width: 40px;
                    font-size: 28px;
                    box-shadow: 0px 0px 1px 2px #555;
                }
                &.travel-with-icon {
                    background: #389d0b;
                }
                &.tag-icon {
                    background: #f75913;
                    margin-left: 5px;
                }
            }
        }
        .steps-list-area{
            
        }
    }
    .tour-map-area .tour-map {
        height: 600px;
    }
}
