.tour-details-page {
    width: 95%;
    .tour-details-area {
        .edit-button {
            margin: 10px;
        }
        h1 {
            font-size: 32px;
            margin-top: 20px;
        }
        background: rgba($color1, 0.01);
        border: 5px solid $color1;
        border-radius: 10px 5px 5px 5px;
        .icon-bar {
            .travel-with-select {
                width: 50px;
                display: inline-block;
            } 
            .tour-travel-with-icon, .tour-keyword-icons {
                display: inline-block;
            }
            .tour-icon {
                display: inline-block;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                &.difficulty, &.interest {
                    width: 80px;
                    font-size: 12px;
                    float: right;
                    label {
                        display: block;
                        text-align: center;
                    }
                }
                &selected-icon{
                    margin-left: 15px;
                    width: 45px;
                }
            }
        }
        .description {
            margin-top: 20px;
            border: 1px solid rgba($color2, 0.2);
            background: rgba($color2, 0.01);
        }
        .steps-list-area {}
    }
    .tour-map-area .tour-map {
        height: 600px;
    }
}
