<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container my-tours-page page">

    <ol class="breadcrumb">
        <li class="active">My tours</li>
    </ol>
    <table ng-show="tours.length" class="table table-hover table-striped smart-table">
        <tr ng-repeat="tour in tours">
            <td class="col-md-1">
                <a ng-click="deleteTour(tour)" class="btn btn-default delete-tour-button"><i class="fa fa-trash-o"></i></a>
            </td>
            <td class="tour-title" ng-click="viewTour(tour)">{{ tour.title }} ({{ tour.status }})</td>
        </tr>
    </table>

    <div ng-hide="tours.length" class="alert alert-info" role="alert">Create your first tour now by clicking on <strong>"Create a new tour"</strong> button bellow.</div>

    <a href="/create-tour/main" class="btn btn-primary edit-step-button"><i class="fa fa-plus-square"></i> Create a new tour</a>

</div>

