<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container my-tours-page">

    <a ng-click="createTour()" class="btn btn-success edit-step-button"><i class="fa fa-plus-square"></i> Create a new tour</a>

    <table class="table table-hover">
        <tr ng-repeat="tour in tours">
            <td class="col-md-1">
                <a ng-click="deleteTour(tour)" class="btn btn-danger edit-step-button"><i class="fa fa-trash-o"></i></a>
            </td>
            <td class="tour-title" ng-click="viewTour(tour)">{{ tour.title }}</td>
        </tr>
    </table>
</div>

