$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// orange/brown
$baseColor1: #ff731c;

// green
$baseColor2: #5e8c15;

/**
 * App-wide Styles
 */

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'extendedMap/extendedMap.scss';
@import 'home/home.scss';
@import 'my-tour-step/my-tour-step.scss';
@import 'my-tour/my-tour.scss';
@import 'my-tours/my-tours.scss';
// endinjector
