$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// fonts
$fontFamilly: "Open Sans", Helvetica, Arial, sans-serif;

$fontFamilly2: "Rancho";

// red
$color1: #AA3939;
$color1light1: #D46A6A;
$color1light2: #FFAAAA;
$color1dark1: #801515;
$color1dark2: #550000;

// blue
$color2: #226666;
$color2light1: #407F7F;
$color2light2: #669999;
$color2dark1: #0D4D4D;
$color2dark2: #003333;

$white1: #fff;
$white2: #eee;
$white3: #ddd;

$black1: #000;
$black2: #333;
$black3: #555;

@media all and (max-width: 1200px) {
    /* screen size until 1200px */
    h2 {
        font-size: 1.5em;
        /* 1.5x default size */
    }
}

@media all and (max-width: 1000px) {
    /* screen size until 1000px */
    h2 {
        font-size: 1.6em;
        font-weight: bold;
    }
}

@media all and (max-width: 500px) {
    /* screen size until 500px */
    body {
        h2 {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

/**
 * App-wide Styles
 */

// Component styles are injected through grunt
// injector
@import 'about-us/about-us.scss';
@import 'account/login/login.scss';
@import 'admin-data/admin-data.scss';
@import 'admin/admin.scss';
@import 'contacts/contacts.scss';
@import 'create-tour.1.main/create-tour.main.scss';
@import 'fonts/google.rancho.scss';
@import 'home/home.old.scss';
@import 'home/home.scss';
@import 'icomoon.scss';
@import 'my-tours/my-tours.scss';
@import 'region/region.scss';
@import 'table.scss';
@import 'tour.create-step/tour.create-step.scss';
@import 'tour.edit-trace/tour.edit-trace.scss';
@import 'tour.edit/tour.edit.scss';
@import 'tour.step.edit/tour.step.edit.scss';
@import 'tour.step.view/interest-details.scss';
@import 'tour.step.view/tour.step.view.scss';
@import 'tour.view/tour.view.scss';
@import 'tour/tour.scss';
@import 'extendedMap/extendedMap.scss';
@import 'file-upload/file-upload.scss';
@import 'footer/footer.scss';
@import 'keyword-icons/keyword-icons.scss';
@import 'map/map.scss';
@import 'navbar/navbar.scss';
@import 'travel-with-icon/travel-with-icon.scss';
// endinjector

html {
    font-family: $fontFamilly;
    min-height: 100%;
    body {
        font-family: $fontFamilly;
        min-height: 100%;
        /*        background: $white1;
                background-repeat: no-repeat;
                background-attachment: fixed;*/
        background: url("/assets/images/bg.png") repeat scroll 0 0 #fdfefe;
        .navbar {
            margin-bottom: 0;
        }
    }
    .page {
        padding: 50px 30px;
        .link {
            cursor: pointer;
        }
        a:not(.btn) {
            color: $color2;
        }
        .bordered-area {
            background: rgba($color1, 0.01);
            border: 2px solid $color1;
            border-radius: 10px 5px 5px 5px;
            padding: 5px 25px;
        }
        .large-area {
            min-height: 604px;
        }
        .image-horizontal-selector {
            max-width: 100%;
            overflow: auto;
            .image-horizontal-scroll {
                float: left;
                margin-right: -999em;
                .selected {
                    border: 2px solid #555;
                }
            }
        }
        .breadcrumb {
            background: transparent;
            li {
                a {
                    color: $color1;
                    font-weight: bold;
                }
                &.active {
                    color: $color1dark1;
                    font-weight: bold;
                }
            }
            li + li:before {
                color: $color1;
            }
        }
        .form-section {
            border: 2px solid rgba($color1, 0.1);
            padding: 10px;
            margin: 0 0 20px 0;
            box-shadow: 0px 0px 3px 1px rgba(darken($color1, 30%), 0.1);
        }
        .smart-area {
            border: 2px solid $color2;
            border-radius: 5px;
        }
        h1 {
            font-family: $fontFamilly2;
            font-size: 40px;
            color: $color2;
            text-shadow: 1px 1px 0 $color2dark2;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 25px;
            color: $color1;
            text-shadow: 1px 0px 0 $color1dark2;
            margin-top: 15px;
            margin-bottom: 12px;
        }
        h3 {
            font-size: 18px;
            color: $color1;
            text-shadow: 1px 0px 0 $color1dark1;
            margin-top: 10px;
            margin-bottom: 12px;
        }
        .nav-tabs > li {
            font-weight: bold;
            &.active a {
                background: white;
                color: $color1;
            }
            a {
                background: rgba(white, 0.5);
                color: $color2;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .description {
            clear: both;
            margin-top: 20px;
            border: 1px solid rgba($color2, 0.2);
            background: rgba($color2, 0.01);
            padding: 25px;
            text-align: justify;
        }
        .rating, .rating {
            &.in-edition {
                .rating-bar {
                    background-clip: padding-box;
                    background-color: #ffffff;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    padding: 3px;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
                    }
                }
                label {
                    margin-bottom: 8px;
                }
            }
            .fa-bicycle {
                margin: 1px 1px;
                &.selected {
                    color: #e31414;
                }
                &.unselected {
                    color: #aaa;
                }
            }
            .glyphicon-star {
                &.selected {
                    color: #2a8010;
                }
                &.unselected {
                    color: #aaa;
                }
            }
            .glyphicon-star-empty {
                color: #2a8010;
            }
        }
    }
}

img.smart-photo {
    max-height: 110px;
    background-color: white;
    box-shadow: 1px 3px 5px #555;
    padding: 4px;
    margin: 2px;
}

.responsive-map-area {
    .default-extended-map {
        height: 200px;
        @media all and (min-height: 450px) {
            height: 250px;
        }
        @media all and (min-height: 500px) {
            height: 300px;
        }
        @media all and (min-height: 500px) {
            height: 300px;
        }
        @media all and (min-height: 600px) {
            height: 350px;
        }
        @media all and (min-height: 700px) {
            height: 450px;
        }
    }
}

.btn-primary {
    @include button-variant($white1, $color1dark1, $color1dark2);
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}

.dynamic-view{
    min-height: 400px;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 10000;
    display: none;
    @media all and (min-width: $screen-sm-min) {
       display: block;
    }
}

.ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}

.ribbon-green:after {
    right: 0;
}
