$icon-font-path:"/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
 $fa-font-path:"/bower_components/font-awesome/fonts";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
// fonts
$fontFamilly:"Open Sans",
Helvetica,
Arial,
sans-serif;
 $fontFamilly2:"Rancho";
// red
$color1:#AA3939;
 $color1light1:#D46A6A;
 $color1light2:#FFAAAA;
 $color1dark1:#801515;
 $color1dark2:#550000;
// blue
$color2:#226666;
 $color2light1:#407F7F;
 $color2light2:#669999;
 $color2dark1:#0D4D4D;
 $color2dark2:#003333;
 $white1:#fff;
 $white2:#eee;
 $white3:#ddd;
 $black1:#000;
 $black2:#333;
 $black3:#555;
@media all and (max-width: 1200px) {
    /* screen size until 1200px */
    h2 {
        font-size: 1.5em;
        /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) {
    /* screen size until 1000px */
    h2 {
        font-size: 1.6em;
        font-weight: bold;
    }
}
@media all and (max-width: 500px) {
    /* screen size until 500px */
    body {
        h2 {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}
/**
 * App-wide Styles
 */

// Component styles are injected through grunt
// injector
@import 'about-us/about-us.scss';
@import 'account/login/login.scss';
@import 'admin-data/admin-data.scss';
@import 'admin/admin.scss';
@import 'contacts/contacts.scss';
@import 'create-tour.1.main/create-tour.main.scss';
@import 'fonts/google.rancho.scss';
@import 'home/home.scss';
@import 'icomoon.scss';
@import 'my-tours/my-tours.scss';
@import 'page.scss';
@import 'press/press.scss';
@import 'region/region.scss';
@import 'table.scss';
@import 'tour.create-step/tour.create-step.scss';
@import 'tour.edit-trace/tour.edit-trace.scss';
@import 'tour.edit/tour.edit.scss';
@import 'tour.step.edit/tour.step.edit.scss';
@import 'tour.step.view/interest-details.scss';
@import 'tour.step.view/tour.step.view.scss';
@import 'tour.view/tour.view.scss';
@import 'tour/tour.scss';
@import 'extendedMap/extendedMap.scss';
@import 'file-upload/file-upload.scss';
@import 'footer/footer.scss';
@import 'keyword-icons/keyword-icons.scss';
@import 'locale-switcher/locale-switcher.scss';
@import 'map/map.scss';
@import 'navbar/navbar.scss';
@import 'travel-with-icon/travel-with-icon.scss';
// endinjector
 html {
    width: 100%;
    height: 100%;
    font-family: $fontFamilly;
    min-height: 100%;
    body {
        width: 100%;
        height: 100%;
        font-family: $fontFamilly;
        background: #ffffff;
        .navbar {
            margin-bottom: 0;
        }
        .dynamic-view {
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        img.smart-photo {
            max-height: 110px;
            background-color: white;
            box-shadow: 1px 3px 5px #555;
            padding: 4px;
            margin: 2px;
        }
        .responsive-map-area {
            .default-extended-map {
                height: 200px;
                @media all and (min-height: 450px) {
                    height: 250px;
                }
                @media all and (min-height: 500px) {
                    height: 300px;
                }
                @media all and (min-height: 500px) {
                    height: 300px;
                }
                @media all and (min-height: 600px) {
                    height: 350px;
                }
                @media all and (min-height: 700px) {
                    height: 450px;
                }
            }
        }
        .btn-primary {
            @include button-variant($white1, $color1dark1, $color1dark2);
        }
        .form-group.required .control-label:after {
            content: " *";
            color: red;
        }
        .dynamic-view {
            min-height: 400px;
        }
        .ribbon-wrapper {
            width: 85px;
            height: 88px;
            overflow: hidden;
            position: fixed;
            top: -3px;
            right: -3px;
            z-index: 10000;
            display: block;
            opacity: 0.8;
        }
        .ribbon {
            font: bold 15px Sans-Serif;
            color: $white2;
            text-shadow: rgba($white3, 0.5) 0px 1px 0px;
            text-align: center;
            font-weight: bold;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            position: relative;
            padding: 7px 0;
            left: -5px;
            top: 15px;
            width: 120px;
            background-color: $color1;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba($color1light1, 0.5)), to(rgba($color1dark2, 0.5)));
            background-image: -webkit-linear-gradient(top, rgba($color1light1, 0.5), rgba($color1dark2, 0.5));
            background-image: -moz-linear-gradient(top, rgba($color1light1, 0.5), rgba($color1dark2, 0.5));
            background-image: -ms-linear-gradient(top, rgba($color1light1, 0.5), rgba($color1dark2, 0.5));
            background-image: -o-linear-gradient(top, rgba($color1light1, 0.5), rgba($color1dark2, 0.5));
            -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        }
        .ribbon:before,
        .ribbon:after {
            content: "";
            border-top: 3px solid #6e8900;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position: absolute;
            bottom: -3px;
        }
        .ribbon:before {
            left: 0;
        }
        .ribbon:after {
            right: 0;
        }
    }
 }