html body {
    .logo-full {
        background: url("/assets/images/globalbiker-logo-full-white.png");
        
        background-size: cover;
        /* Extra small devices (phones, less than 768px) */
        width: 200px;
        height: 200px;
        margin-top: -20px;
        margin-bottom: -20px;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-sm-min) {}
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
            width: 260px;
            height: 260px;
            margin-top: -50px;
            margin-bottom: -50px;
        }
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: $screen-lg-min) {
            width: 300px;
            height: 300px;
        }
    }
    .logo-small-screen-wrapper {
        
        /* Extra small devices (phones, less than 768px) */
        display:block;
        text-align: center;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-sm-min) {
           display:none;
        }
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
             display:none;
        }
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: $screen-lg-min) {
             display:none;
        }
    }
    .logo-large-screen-wrapper {
        float: left;
        /* Extra small devices (phones, less than 768px) */
        display:none;
        position: fixed;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-sm-min) {
             display:block;
        }
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
            display:block;
        }
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: $screen-lg-min) {
            display:block;
        }
    }
    .logo-image {
            display: inline-block;
            position: relative;
            margin-top: 3px;
            margin-left: 10px;
            margin-bottom: -6px;

            padding: 0;

            // original size: 394 * 116
            width: 112.08px;
            height: 33px;
            background: url("/assets/images/globalbiker-logo-text-white.png");
            background-size: cover;
            /* Extra small devices (phones, less than 768px) */

            /* Small devices (tablets, 768px and up) */
            @media (min-width: $screen-sm-min) {
            }
            /* Medium devices (desktops, 992px and up) */
            @media (min-width: $screen-md-min) {}
            /* Large devices (large desktops, 1200px and up) */
            @media (min-width: $screen-lg-min) {}
        }

}
