@mixin smart-table($main-color) {
   /* background-color: rgba(lighten($main-color, 30%), 0.8);
    color: darken(desaturate($main-color, 30%), 20%);
    border: 1px dotted $main-color;
    thead {
        background-color: rgba(lighten($main-color, 1%), 0.8);
        color: darken($main-color, 20%);
        tr th {
            border: none;
        }
    }
    tbody {
        border: 1px dotted $main-color;
        tr {
            td {
                border: none;
                background-color: rgba(lighten($main-color, 20%), 0.8);
                &.main {
                    font-weight: bold;
                }
            }
            &:nth-child(2n+1) > td {
                background-color: rgba(lighten($main-color, 30%), 0.8);
            }
        }
    }*/
    &.table-hover {
        tr {
            cursor: pointer;
          /*  &:hover {
                td {
                    background-color: rgba(lighten($main-color, 10%), 0.8);
                    color: lighten(desaturate($main-color, 30%), 50%);
                }
            }*/
        }
    }
}

table.smart-table {
    @include smart-table(lighten(desaturate($color2, 20%), 20%));
}
