<div class="file-upload-area">
    <div ng-if="!progress.currentFileProgress">
        <div class="file-upload btn btn-primary" ngf-select="onFileSelect($files)" ngf-multiple="fileUpload.multiple" >
            <span ng-transclude></span>
        </div>
    </div>
    <div ng-if="progress.currentFileProgress">
        <progressbar max="100" value="progress.currentFileProgress"><i class="fa fa-spinner fa-spin"></i> Uploading file {{ progress.currentFileIndex + 1 }} /  {{ progress.totalFiles }}</progressbar>
    </div>
</div>