<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container contacts-page page" ui-view>
    <h1 translate="contacts.title">Let's talk!</h1>

    <div ng-if="status === 'success'">
        <div class="alert alert-success">
            <span role="alert" class="glyphicon glyphicon-ok"></span> 
            <span translate="contacts.success">Your message has been successfully sent. You will receive an answer as soon as possible.</span>
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-primary btn-lg" translate="contacts.links.home">
               <i class="glyphicon glyphicon-home"></i> 
               Back to home page
            </a>
            <a href="http://blog.globalbiker.org" class="btn btn-primary btn-lg" translate="contacts.links.blog">
               <i class="fa fa-wordpress"></i>
               Visit our blog
            </a>
        </div>
    </div>
    <form ng-if="status !== 'success'" name="form" class="form" ng-submit="sendMessage(form)" novalidate>
        <div class="form-group required">
            <label class="control-label" translate="contacts.form.email">Email address</label>
            <input type="email" name="email" ng-model="email.address" ng-required="true" class="form-control" placeholder="Enter your email">
            <div class="error-messages" ng-messages="form.email.$error" ng-if="form.email.$touched || form.$submitted" ng-messages-include="components/form/generic-error-messages.html">
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label" translate="contacts.form.subject">Subject</label>
            <input ng-model="email.subject" name="subject" ng-required="true" type="text" class="form-control">
            <div class="error-messages" ng-messages="form.subject.$error" ng-if="form.subject.$touched || form.$submitted" ng-messages-include="components/form/generic-error-messages.html">
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label" translate="contacts.form.message">Message</label>
            <textarea ng-model="email.message" name="message" rows="10" ng-required="true"></textarea>
            <div class="error-messages" ng-messages="form.message.$error" ng-if="form.message.$touched || form.$submitted" ng-messages-include="components/form/generic-error-messages.html">
            </div>
        </div>

        <div ng-switch="status">
            <div ng-switch-when="pending" class="alert alert-info" role="alert">
                <i class="fa fa-spinner fa-spin"></i>  <span translate="global.messages.progress">Please wait...</span>
            </div>
            <div ng-switch-when="error" class="alert alert-danger">
                <span role="alert" class="glyphicon glyphicon-exclamation-sign"></span> 
                <span translate="contacts.error">An unexpected error occured. Please try later.</span>
            </div>
        </div>
        <div class="text-center">
            <button ng-disabled="status === 'pending'" type="submit" class="btn btn-primary btn-lg" translate="contacts.form.send">Send</button>
        </div>
    </form>
</div>

<div ng-include="'components/footer/footer.html'"></div>