.navbar {
    background: linear-gradient(to bottom, darken($color1, 5%) 0%, lighten($color1, 5%) 100%);
    .navbar-text {
        color: $textcolor1;
    }
    .navbar-nav > li > a {
        color: $textcolor1;
        font-size: 20px;
        line-height: 20px;
        &.main {
            font-size: 25px;
            font-weight: bold;
            &:hover, &:focus {
                color: #333333;
                .biker {
                    color: lighten(#333333, 10%);
                }
            }
            .biker {
                color: lighten($textcolor1, 10%);
            }
        }
    }
}

.navbar .navbar-nav > li.active > a {
    line-height: 25px;
    background: lighten(desaturate($color1, 65%), 35%);
    color: #555;
    font-weight: bold;
}
