.navbar-fixed-top {
    background: $color1;
    background: -webkit-linear-gradient(to bottom, darken($color1, 2%) 0%, lighten($color1, 2%) 100%);
    background: -o-linear-gradient(to bottom, darken($color1, 2%) 0%, lighten($color1, 2%) 100%);
    background: -moz-linear-gradient(to bottom, darken($color1, 2%) 0%, lighten($color1, 2%) 100%);
    background: linear-gradient(to bottom, darken($color1, 2%) 0%, lighten($color1, 2%) 100%);
    min-height: 25px;
    border: 0;
    .link {
        cursor: pointer;
    }
    .navbar-text {
        color: $white1;
        font-size: 15px;
        line-height: 15px;
        padding: 10px 20px;
        margin: 0;
    }
    .navbar-nav > li > a {
        color: $white1;
        font-size: 15px;
        line-height: 15px;
        padding: 10px 20px;
        &.logo {
            font-size: 20px;
            padding: 10px 20px;
            font-weight: bold;
            font-family: 'Gloria Hallelujah';
        }
        color: $white2;
        &:hover {
            color: $white1;
            font-weight: bold;
        }
    }
    .navbar-nav > li.icon > a {
        padding: 10px 10px;
    }
    .navbar-right {
        padding-right: 85px;
    }
}

.navbar .navbar-nav > li.active > a {
    line-height: 20px;
    background: transparent;
    color: $white2;
    font-weight: bold;
    &:hover {
        background: transparent;
        color: $white1;
    }
}
