.about-us-page {
   // background-image: linear-gradient(rgb(248, 255, 255), #f5fefe);
    .who {
        .who-photo {
            margin: 10px;
            max-height:300px;
            height: 300px;
            width: 225px;
        }
    }
}
