.my-tour-page {
    .dropdown-menu {
        z-index: 5000;
    }
    .my-tour-map {
        height: 500px;
    }
    .create-tour-button {
        margin-top: 26px;
        text-align: bottom;
    }
    .table > tfoot > tr > td {
        vertical-align: middle;
    }
    .select-photo-area {
        img {
            max-height: 50px;
            max-width: 100%;
        }
    }
    img.selected-image {
        max-height: 200px;
        max-width: 100%;
    }
}
