<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

    <form role="form">

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="tourTitle">Tour title</label>
                    <input type="text" class="form-control" id="tourTitle" placeholder="Enter the name of your tour... (e.g. 'Canal du Midi from Toulouse to Narbonne')" ng-model="tourTitle">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="tourCountry">Tour country</label>
                    <input id="tourCountry" readonly="true" ng-model="tourCountry" placeholder="Country of departure" typeahead="country as country.label for country in getCountry($viewValue)" typeahead-loading="countryLoading" class="form-control">
                    <i ng-show="countryLoading" class="glyphicon glyphicon-refresh"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">

                <table class="table">
                    <!-- ng-show="tourCountry.geonameId && tourTitle"> -->
                    <thead>
                        <tr>
                            <th class="col-md-1">Day</th>
                            <th class="col-md-4">From</th>
                            <th class="col-md-4">To</th>
                            <th class="col-md-2">Difficulty</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="step in steps ">
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <div class="form-group">
                                    <input ng-readonly="step.status == 'read-only'" ng-model="step.cityFrom" placeholder="City of departure" typeahead="city as city.label for city in getCity($viewValue)" typeahead-loading="place.cityFromLoading" typeahead-input-formatter="cityToName($model)" class="form-control">
                                    <i ng-show="place.cityFromLoading" class="glyphicon glyphicon-refresh"></i>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input ng-readonly="step.status == 'read-only'" ng-show="step.cityFrom.geonameId" ng-model="step.cityTo" placeholder="City of arrival" typeahead="city as city.label for city in getCity($viewValue)" typeahead-loading="place.cityToLoading" typeahead-input-formatter="cityToName($model)" class="form-control">
                                    <i ng-show="place.cityToLoading" class="glyphicon glyphicon-refresh"></i>
                                </div>
                            </td>
                            <td>
                                <rating readonly="step.status == 'read-only'" ng-show="step.cityFrom.geonameId && step.cityTo.geonameId" ng-model="step.difficulty" max="4" on-leave="overStar = null"></rating>
                            </td>
                            <td>
                                <div ng-show="step.isReadyToSave()">
                                    <a ng-click="saveStep(step)" class="btn btn-success save-step-button"><i class="fa fa-check"></i></a>
                                </div>
                                <div ng-show="step.isEditable()">
                                    <a ng-click="editStep(step)" class="btn btn-default edit-step-button"><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-md-5">
                <div extended-map config="mapConfig"></div>
            </div>
        </div>

        <a ng-click="addTour" class="btn btn-success save-tour-button"><i class="fa fa-check"></i> Save tour</a>

    </form>


</div>