<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
   

    <form role="form">
       
        <div class="row">
             <div class="col-md-4">
                <div class="form-group">
                    <label for="tourCountry">Tour country</label>
                    <input id="tourCountry" ng-model="tourCountry" placeholder="Country of departure" typeahead="country as country.label for country in getCountry($viewValue)" typeahead-loading="countryLoading" class="form-control">
                    <i ng-show="countryLoading" class="glyphicon glyphicon-refresh"></i>
                </div>
             </div>
             <div class="col-md-8" ng-show="tourCountry.geonameId">
                <div class="form-group">
                    <label for="tourTitle">Tour title</label>
                    <input type="text" class="form-control" id="tourTitle" placeholder="Enter the name of your tour... (e.g. 'Canal du Midi from Toulouse to Narbonne')" ng-model="tourTitle">
                </div>
             </div>
        </div>
       
       


       <table class="table" ng-show="tourCountry.geonameId && tourTitle">
           <thead>
               <tr>
                   <th class="col-md-2">Day</th>
                   <th class="col-md-4">From</th>
                   <th class="col-md-4">To</th>
                   <th class="col-md-2">Difficulty</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="step in steps ">
                   <th>D {{ $index }}</th>
                   <th>
                       <div class="form-group">
                            <input ng-model="step.cityFrom" placeholder="City of departure" typeahead="city as city.label for city in getCity($viewValue)" typeahead-loading="place.cityFromLoading" class="form-control">
                            <i ng-show="place.cityFromLoading" class="glyphicon glyphicon-refresh"></i>
                        </div>
                    </th>
                   <th>
                       <div class="form-group">
                            <input ng-show="step.cityFrom.geonameId" ng-model="step.cityTo" placeholder="City of arrival" typeahead="city as city.label for city in getCity($viewValue)" typeahead-loading="place.cityToLoading" class="form-control">
                            <i ng-show="place.cityToLoading" class="glyphicon glyphicon-refresh"></i>
                        </div>
                    </th>
                    <th>
                        <rating ng-show="step.cityFrom.geonameId && step.cityTo.geonameId" ng-model="step.difficulty" max="4" on-leave="overStar = null"></rating>
                    </th>
               </tr>
           </tbody>
       </table>

    </form>

    
</div>