<div ng-include="'components/navbar/navbar.html'"></div>

<div class="journey-view-page page">

    <div class="row">

        <div class="col-xl-6">
            <div class="details-area bordered-area large-area">
                <h1>{{ journey.properties.title }}</h1>

                <carousel interval="myInterval" no-wrap="noWrapSlides">
                    <slide ng-repeat="photo in journey.photos" active="slide.active">
                        <img ng-src="{{ photo.thumbnails[0].url }}" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>Titre de l'image {{ photo._id }}</h4>
                        </div>
                    </slide>
                </carousel>

                <!--
                 => pour mobile
                 <ul rn-carousel rn-carousel-transition="hexagon" class="image text-center">
                  <li ng-repeat="photo in journey.photos">
                    <div class="layer">
                       <h1>Titre de l'image {{ photo._id }}</h1>
                        <img ng-src="{{ photo.thumbnails[0].url }}" />
                    </div>
                  </li>
                </ul>-->
                <br/>
                <br/>
                <div class="row text-center">
                    <div class="col-xs-6">
                        <div file-upload="photosUploadConfig">Upload photos</div>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-danger" ng-click="clearPhotos()">Clear photos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="details-area bordered-area large-area">

                <h1>{{ journey.properties.title }}</h1>

                <div class="form-group">
                    <div class="text-center">
                        <a ng-if="journey._id" ng-disabled="isWorkInProgress()" ui-sref="journey-edit-stopovers({reference: journey.reference})" class="btn btn-primary">Editer mon voyage</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <a ng-if="journey._id" ng-disabled="isWorkInProgress()" ui-sref="journey-view-map({reference: journey.reference})" class="btn btn-primary">Carte plein écran</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>