<div ng-include="'components/navbar/navbar.html'"></div>

<div class="journey-view-page page">

    <div class="row">

        <div class="col-xl-6">
            <div class="details-area bordered-area large-area">
                <h1>{{ journey.properties.title }}</h1>

                <span ng-repeat="photo in journey.photos">
                <img ng-src="{{ photo.thumbnails[2].url }}" />
            </span>
                <div>
                    <div file-upload="photosUploadConfig">Upload photos</div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="details-area bordered-area large-area">

                <h1>{{ journey.properties.title }}</h1>

                <div class="form-group">
                    <div class="text-center">
                        <a ng-if="journey._id" ng-disabled="isWorkInProgress()" ui-sref="journey-edit-stopovers({reference: journey.reference})" class="btn btn-primary">Editer mon voyage</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <a ng-if="journey._id" ng-disabled="isWorkInProgress()" ui-sref="journey-view-map({reference: journey.reference})" class="btn btn-primary">Carte plein écran</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>