<div ng-include="'components/navbar/navbar.html'"></div>

<div class="journey-view-page full-page-map-page">

    <div class="full-page-map-area">
        <div class="full-page-map" map config="mapConfig"></div>
        <div class="full-page-map-overlay-area overlay-panel context-area">
            <h4 class="main-title">{{ journey.properties.title }}</h4>

            <div class="form-group">
                <p ng-if="journey.geo.waypoints.length !== 0">Une fois vos choix terminés, passez à l'étape suivante:</p>
                <div class="text-center">
                    <a ng-if="journey._id" ng-disabled="isWorkInProgress()" ui-sref="journey-edit-stopovers({reference: journey.reference})" class="btn btn-primary">Editer mon voyage</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>