.journey-edit-trace-page {
    height: 100%;
    overflow: hidden;
    
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: inherit;
    }
    
    .smart-map-area {
        height: 100%;
        overflow: hidden;
        margin-top: 65px;
        margin-bottom: -65px;
        .journey-edit-trace-map {
            height: 100%;
            overflow: hidden;
        }
        .journey-edit-map-overlay {
            .overlay-area {
                position: absolute;
                top: 75px;
                margin-left: 50px;
                margin-right: 50px;
            }
            .overlay-panel {
                background: white;
                padding: 10px;
                // same style as .leaflet-bar
                border-radius: 4px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
            }
            .edit-itinerary-area {
                min-height: 400px;
                width: 350px;
            }
            .title-area {
                margin-left: 500px;
                min-width: 30%;
            }
        }
        .draggable-waypoints-list {
            margin-top: 10px;
            max-height: 350px;
            .draggable-waypoint-item {
                padding: 0px 5px;
                .handle{
                    cursor: move;
                    cursor: -webkit-grabbing;
                }
                .waypoint-icon, .waypoint-trash, .waypoint-city {
                    display: inline-block;
                    line-height: 20px;
                    font-size: 16px;
                    vertical-align: middle;
                }
                .waypoint-icon {
                    width: 20px;
                    text-align: left;
                }
                .waypoint-trash {
                    width: 10px;
                    text-align: right;
                    a.link {
                        color: grey;
                        cursor: pointer;
                    }
                }
                .waypoint-city {
                    width: 260px;
                }
            }
        }
    }
}
