.journey-edit-trace-page {
    height: 100%;
    overflow: hidden;

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: inherit;
    }

    .smart-map-area {
        height: 100%;
        overflow: hidden;
        margin-top: 35px;
        margin-bottom: -35px;
        .journey-edit-trace-map {
            height: 100%;
            overflow: hidden;
        }
        .journey-edit-map-overlay {
            .overlay-area {
                position: absolute;
                top: 55px;
                margin-left: 50px;
                margin-right: 50px;
            }
            .overlay-panel {
                background: white;
                padding: 10px;
                // same style as .leaflet-bar
                border-radius: 4px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
                padding: 10px 20px;
            }
            .edit-itinerary-area {
                width: 370px;
                min-height: 400px;
                max-height: 70%;
                max-height: calc(100% - 90px);
                overflow: auto;
            }
            .title-area {
                margin-left: 500px;
                min-width: 30%;
            }
        }
        .departure-area, .arrival-area{
            margin-bottom: 0px;
            .departure-icon, .departure-city, .arrival-icon, .arrival-city {
                display: inline-block;
                line-height: 20px;
                font-size: 16px;
                vertical-align: middle;
                padding: 5px;
            }
            .departure-icon,.arrival-icon {
                width: 25px;
                text-align: left;
                color: white;
                background: black;
                border-radius: 8px;
            }
            .departure-city,.arrival-city {
                width: 270px;
            }
        }
        .draggable-waypoints-list {
            margin-top: 10px;
            max-height: 250px;
            .draggable-waypoint-item {
                padding: 0px 5px;
                .handle{
                    cursor: move;
                    cursor: -webkit-grabbing;
                }
                .waypoint-icon, .waypoint-city, .waypoint-trash {
                    display: inline-block;
                    line-height: 20px;
                    font-size: 14px;
                    vertical-align: middle;
                }
                .waypoint-icon {
                    width: 20px;
                    text-align: left;
                    color: blue;
                }
                .waypoint-city {
                    width: 260px;
                }
                .waypoint-trash {
                    width: 10px;
                    text-align: right;
                    a.link {
                        color: grey;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
