<div class="tour-details-area">
        <div class="col-md-6">
            <div class="details-area bordered-area large-area">
                <div class="tour-description-area">
                    <a ng-if="securityService.isTourEditable(tour)" class="btn btn-default edit-button pull-right" ng-click="editTour(tour)" ng-title="{{ 'global.actions.edit' | translate }}">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <h1>{{ tour.title }}</h1>

                    <div class="icon-bar">

                        <div ng-if="tour.distance" class="tour-icon distance">
                            <label>Distance</label>
                            <div>
                                {{ tour.distance / 1000 | number: 0 }} kms
                            </div>
                        </div>
                        <div ng-visible="tour.interest" class="tour-icon rating interest">
                            <label>Interest</label>
                            <rating class="rating-bar" state-on="'glyphicon-star selected'" state-off="'glyphicon-star unselected'" readonly="true" ng-model="tour.interest" max="5"></rating>
                        </div>

                        <div ng-visible="tour.difficulty" class="tour-icon rating difficulty">
                            <label>Difficulty</label>
                            <rating class="rating-bar" state-on="'fa fa-bicycle selected'" state-off="'fa fa-bicycle unselected'" readonly="true" ng-model="tour.difficulty" max="3"></rating>
                        </div>
                        <div class="tour-travel-with-icon" travel-with-icon model="tour.travelWith" in-edition="false"></div>

                        <div class="tour-keyword-icons" keyword-icons model="tour.keywords" in-edition="false"></div>

                    </div>

                    <div class="alert description" ng-if="tour.description" ng-bind-html="tour.description"></div>

                    <div ng-if="tour.photo.thumbnails.w600h400" class="text-center">
                        <img class="photo smart-photo tour-main-photo" ng-src="{{ tour.photo.thumbnails.w600h400 }}">
                    </div>
                </div>

                <div tour-presentation-steps-list steps="tour.steps"></div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="tour-map-area responsive-map-area smart-area smart-map-area">
                <div class="tour-map" map config="mapConfig"></div>
            </div>
        </div>
    </div>

</div>
