.admin-data-page {
    .bikelanes-area {
       
        .legend {
            ul {
                color: #555;
                font-style: italic;
            }
            .good {
                font-weight: bold;
                color: green;
            }
            .bad {
                font-weight: bold;
                color: blue;
            }
        }
    }
}


.file-upload {
	position: relative;
	overflow: hidden;
}
.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}