.tour-step-view-page {
    .step-main-photo {
        margin: 10px;
        max-width: 80%;
        max-height: 300px;
    }
    .interests-area {
        .interest-description {}
        .photo {
            max-height: 200px;
        }
    }
    h2 {
        clear: both;
        text-align: center;
        .step-title {
            display: inline-block;
        }
        .steps-pagination {
            .previous-step-button {
                margin-right: 10px;
                color: $color1;
            }
            .next-step-button {
                margin-left: 10px;
                color: $color1;
            }
        }
    }
    tabset {
        clear: both;
    }
}
