<div class="tour-step-view-page step-description-area">

    <div class="row">

        <div class="col-md-6">

            <div class="details-area bordered-area large-area">

                <a ng-if="securityService.isTourEditable(tour)" class="btn btn-default edit-button pull-right" ng-click="editStep(step)" ng-title="{{ 'global.actions.edit' | translate }}">
                    <i class="fa fa-pencil-square-o"></i>
                </a>

                <a ng-href="/tour/{{ tour._id }}/" class="btn btn-default pull-left back-to-list-button" title="Back to list of steps">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </a>
                <h1 class="link" ng-click="openTour(tour)">{{ tour.title }}</h1>

                <h2>
                   <div class="steps-pagination">
                        <a ng-if="step.previous" class="link previous-step-button pull-left" title="{{ step.previous.name }}" ng-click="openStep(step.previous)">
                            <i class="fa fa-caret-square-o-left"></i> 
                        </a>
                        <span ng-if="step.tourStepsNumber && step.tourStepsNumber > 1">
                            <span translate="global.step.label">Step</span> {{ step.tourStepIndex }}/{{ step.tourStepsNumber }} :
                        </span>
                        <div class="step-title">{{ step | stepLabel }}</div> 
                        <a ng-if="step.next" class="link next-step-button pull-right" title="{{ step.next.name }}" ng-click="openStep(step.next)">
                            <i class="fa fa-caret-square-o-right"></i> 
                        </a>
                    </div>
                </h2>

                <div class="icon-bar">

                    <div ng-if="step.distance" class="tour-icon distance">
                        <label>Distance</label>
                        <div>
                            {{ step.distance / 1000 }} kms
                        </div>
                    </div>

                    <div ng-visible="step.interest" class="tour-icon rating interest">
                        <label>Interest</label>
                        <rating class="rating-bar" state-on="'glyphicon-star selected'" state-off="'glyphicon-star unselected'" readonly="true" ng-model="step.interest" max="5"></rating>
                    </div>

                    <div ng-visible="step.difficulty" class="tour-icon rating difficulty">
                        <label>Difficulty</label>
                        <rating class="rating-bar" state-on="'fa fa-bicycle selected'" state-off="'fa fa-bicycle unselected'" readonly="true" ng-model="step.difficulty" max="3"></rating>
                    </div>

                    <div class="tour-travel-with-icon" travel-with-icon model="tour.travelWith" in-edition="false"></div>

                    <div class="tour-keyword-icons" keyword-icons model="tour.keywords" in-edition="false"></div>

                </div>

                <tabset>
                    <tab heading="Description">

                        <div class="alert description" ng-if="step.description" ng-bind-html="step.description"></div>

                        <div ng-if="!inEdition && step.photo.thumbnails.w600h400" class="text-center">
                            <img class="step smart-photo step-main-photo" ng-src="{{ step.photo.thumbnails.w600h400 }}">
                        </div>
                    </tab>
                    <tab heading="Principaux points d'intérêt" ng-if="interestsDetails">
                        <div class="interests-area">
                            <div ng-repeat="interest in interestsDetails">
                                <div class="row">
                                    <div ng-class="{ 'col-md-12': interest.photos.length === 0, 'col-md-6': interest.photos.length !== 0 }">
                                        <div class="interest-description">
                                            <h3>{{ interest.name }}</h3>
                                            <p ng-bind-html="interest.description"></p>
                                        </div>
                                    </div>
                                    {{ interest.photos.length }}
                                    <div class="col-md-6" ng-if="interest.photos.length !== 0">
                                        <div class="carousel-area ">
                                            <div class="">
                                                <carousel>
                                                    <slide ng-repeat="photo in interest.photos" active="photo.active">
                                                        <img class="photo smart-area" ng-src="{{ photo.thumbnails.w600h400 }}" style="margin:auto;">
                                                        <p>
                                                            <a ng-if="photo.author" class="author" rel="author" ng-href="{{ photo.author.url }}">{{ photo.author.name }}</a>
                                                            -
                                                            <a ng-if="getLicense(photo)" class="license" rel="license" ng-href="{{ getLicense(photo).url }}">{{ getLicense(photo).name }}</a>
                                                        </p>
                                                    </slide>
                                                </carousel>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
                <div class="row" ng-if="securityService.isTourEditable(tour)">
                    <div class="col-md-6 text-center">
                        <a class="btn btn-primary" ng-click="createStep()">
                            <i class="fa fa-plus"></i>
                            <span translate="global.step.create">Create a new step</span>
                        </a>
                    </div>
                    <div class="col-md-6 text-center">
                        <a class="btn btn-primary" ng-click="deleteStep(step)">
                            <i class="fa fa-trash-o"></i>
                            <span translate="global.step.remove"> Remove this step</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="tour-map-area responsive-map-area smart-area smart-map-area">
                <div class="tour-map" map config="mapConfig"></div>
            </div>
        </div>
    </div>
</div>
