html body {
    background-color: #efede2;
    width: 100%;
    height: 100%;
    .home-page {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        .main-area {
            width: 100%;
            height: 500px;
            background: url("/assets/images/mer.jpg") no-repeat fixed;
            background-size: cover;
            background-position: left -350px;
            @media only screen and (max-width: 1200px) {
                background-position: left -150px;
            }
            .navbar {
                background: transparent;
                border-width: 0;
                .logo {
                    color: white;
                    img {
                        height: 30px;
                    }
                }
            }
            .main-content {
                padding-top: 40px;
                
                .screenshot{
                    height: 200px;
                }
            }
        }
    }
}
