<div class="content">
    <!-- landing page -->
    <nav class="intro section navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="col-sm-7 logo-container">
                <h1 class="logo">
                    <img src="/assets/images/bike.png" title="bike logo provided by http://buzz.icons8.com" />
                    <span class="global">Global</span><span class="biker">Biker</span>
                    <p class="slogan" translate="home.main.slogan">Ride Global, Ride GlobalBiker</p>
                </h1>
            </div>
            <div class="col-sm-4 contacts">

                <!-- <img src="/assets/images/contact.png" title="e-mail" />-->

                <a href="https://www.facebook.com/pages/GlobalBiker/1559713927590196" target="_blank">
                    <img src="/assets/images/facebook.png" title="facebook" />
                </a>
                <a href="https://twitter.com/a_GlobalBiker" target="_blank">
                    <img src="/assets/images/twitter.png" title="twitter" />
                </a>
            </div>
            <div class="col-sm-1 contacts dropdown">
                <a href type="button" data-toggle="dropdown">
                    <img ng-src="{{languageSelection.current.img}}" />
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-repeat="lang in languageSelection.others">
                        <a href="" ng-click="switchLanguage(lang.code)">
                            <img ng-src="{{lang.img}}"></img>{{lang.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="welcomepage" class="section welcome-page">
        <div class="welcome container">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="/toulouse"><img src="assets/images/cartewelcome.png" alt="Votre blog" class="carte"></a>
                        </div>
                        <div class="col-sm-5 main-description-area">
                            <h2 class="slogan-welcome txt-shadow" translate="home.intro.invit">GlobalBiker</h2>
                            <h3 class="txt-shadow" translate="home.intro.description">First bike tourers' community</h3>
                            <!-- <div>
                                <button class="btn btn-lg btn-default btn-welcome" type="button" onclick="smoothScroll('prepare'); smoothScroll('partager', 20000);"
                                    translate="home.intro.discover_btn">Discover GlobalBiker</button>
                            </div>-->
                            <div>
                                <a href="/toulouse">
                                    <button class="btn btn-lg btn-default btn-test-prototype" type="button" translate="home.intro.beta_test">Test the prototype!</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12 mailing">
                            <div ng-if="!mailSuccess">
                                <h3 class="txt-shadow" translate="home.intro.invit_mailing">Join us and follow the progress of the project!</h3>
                                <form name="mailingForm" ng-submit="addMail(emailMailing)" class="mailing-form">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control transparent-form email-input" type="email" placeholder="{{ 'home.intro.email_placeh' | translate }}" name="email" ng-model="emailMailing">
                                        <span class="input-group-btn">
                                    <button class="btn signup-btn btn-primary" type="submit">
                                        <span translate="home.intro.email_btn">Go</span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <h3 ng-if="mailSuccess" translate="home.intro.email_success">Thanks, your email address has been successfuly saved!</h3>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- <section class="section prepare-page decouvrir-page" id="prepare">
        <div class="decouvrir">
            <div class="cadre">
                <div class="title">
                    <h2 translate="home.prepare.title">Prepare your bike tour</h2>
                </div>
                <h3 translate="home.prepare.slogan">Benefit from the GlobalBikers' experience</h3>
                <div class="row">
                    <div class="col-sm-6 action" translate="home.prepare.search_road">
                        Look out for tours in the whole world
                    </div>
                    <div class="col-sm-6 action" translate="home.prepare.interest_map">
                        Check out the tour track, the points of interest on the map and all the practical information
                    </div>
                </div>
                <div class="row action-row">
                    <div class="col-sm-6 action" translate="home.prepare.free_mind">
                        Travel without a care thanks to the advices of GlobalBikers
                    </div>
                    <div class="col-sm-6 action" translate="home.prepare.discover_way">
                        Enjoy a great way to travel!
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" translate="home.prepare.network">A community network of bicycle travellers, international and non-commercial</li>
                    <li class="list-group-item" translate="home.prepare.free_opensrc">A free and open-source website<span class="licence">(<a href="https://www.gnu.org/licenses/why-affero-gpl.html">AGPL</a>)</span>
                    </li>
                    <li class="list-group-item" translate="home.prepare.blog">Data re-use on your blog<span class="licence">(<a href="http://opendatacommons.org/licenses/odbl/">ODbL</a>, <a href="http://creativecommons.org/">Creative Commons</a>)</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section partager-page decouvrir-page" id="partager">
        <div class="decouvrir">
            <div class="cadre">
                <div class="title">
                    <h2 translate="home.share.title">Share your experience</h2>
                </div>
                <h3 translate="home.share.slogan">Tell us about your trip!</h3>
                <div class="row action-row">
                    <div class="col-sm-6 action" translate="home.share.publish">
                        Publish the interactive map of your trip on your blog
                    </div>
                    <div class="col-sm-6 action" translate="home.share.complete">
                        Complete the practical sheets about the country and region travelled
                    </div>
                </div>
                <div class="row action-row">
                    <div class="col-sm-6 action" translate="home.share.add_track">
                        Add new tours
                    </div>
                    <div class="col-sm-6 action" translate="home.share.advice">
                        Give advices to the community
                    </div>
                </div>
                  <a href="my-tours"><button class="btn btn-lg btn-default btn-welcome" type="button" translate="home.share.test_beta">Test the prototype!</button></a>
            </div>
        </div>
    </section>-->
    </div>
