#welcomepage {
    .footer {
        text-align: center;
        padding: 30px 0;
        margin-top: 50px;
        border-top: 1px solid #E5E5E5;
    }
    /* general styles */
    html,
    body {
        height: 100%;
        width: 100%;
    }
    /* vertical-centered text */
    /* additional sections */
    .panel-default > .panel-heading {
        background-color: $color1;
        h2 {
            color: white;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 20px;
        }
    }
    .txt-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.65);
    }
    .panel-default {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .panel-heading {
        border-radius: 5px 5px 0 0;
    }
    .panel-body {}
    form p {
        font-size: 0.8em;
    }
    .section {
        &.welcome-page {
            background: url("/assets/images/mer.jpg") no-repeat fixed center center;
            //display: table;
            height: 100%;
            position: top;
            width: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            .carte {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.62);
                background-color: white;
                border: 5px solid white;
            }
            .welcome {
                .screenshot {
                    max-width: 100%;
                }
                //height: 750px;
                padding: 150px 0px;
                text-align: center;
                font-weight: bold;
                //width: 1000px;
                .slogan-welcome {
                    margin-top: 5px;
                }
                .main-description-area {
                    .titles {
                        //     border: 1px rgba(lighten(desaturate($color1, 30%), 30%), 0.5);
                        //     background: rgba(lighten(desaturate($color1, 30%), 20%), 0.5);
                        //     border-radius: 5px;
                        //     box-shadow: 1px 1px 3px 1px desaturate($color1, 30%);
                        padding: 20px;
                    }
                    .btn-test-prototype {
                        margin-top: 30px;
                        margin-bottom: 60px;
                        font-size: 24px;
                    }
                }
                .panel {
                    background-color: transparent;
                    color: white;
                }
                .mailing {
                    padding: 5px 5%;
                    margin: 50px auto;
                    text-align: center;
                    max-width: 600px;
                    h3 {
                        border: 1px solid rgba(desaturate($color2, 30%), 0.7);
                        background: rgba(desaturate($color2, 50%), 0.7);
                        padding: 10px;
                        border-radius: 10px 10px 10px 10px;
                        box-shadow: 1px 1px 3px 1px desaturate($color2, 30%);
                    }
                    .mailing-form {
                        .email-input {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &.prepare-page {
            background-image: url("/assets/images/bannerprepare.png");
            background-repeat: repeat-y;
        }
        &.partager-page {
            background-image: url("/assets/images/bannerpartager.png");
            background-repeat: repeat-y;
        }
        &.decouvrir-page {
            display: table;
            height: 800px;
            width: 100%;
            .decouvrir {
                min-height: 550px;
                padding: 0px;
                font-weight: bold;
                // width: 650px;
                margin-top: 150px;
                text-align: center;
                margin-left: 550px;
                .cadre {
                    background-color: transparent;
                    border: 0px;
                }
                h3 {
                    color: $color2;
                    margin-bottom: 30px;
                }
                /*            .panel {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.62);
                            }*/
                .action {
                    text-align: center;
                    padding-top: 25px;
                    padding-left: 40px;
                    padding-bottom: 70px;
                    padding-right: 40px;
                }
                .title {
                    background-color: transparent;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    border-bottom: 1px;
                    text-align: center;
                    h2 {
                        padding: 0px;
                        margin: 0px;
                        color: $color1;
                    }
                }
            }
        }
        .container {
            margin: 10px auto 10px auto;
        }
        &.footer-bar {
            background: none repeat scroll 0 0 $color1;
            bottom: 0;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.62);
            display: table;
            position: fixed;
            border-bottom: 1px;
            border-color: #fff0d1;
            width: 100%;
            height: 35px;
            margin-bottom: 0px;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        /*&.intro {
            background: linear-gradient(to bottom, darken($color1, 5%) 0%, lighten($color1, 5%) 100%);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            top: 0;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.62);
            display: table;
            position: fixed;
            border-bottom: 1px;
            border-color: #fff0d1;
            width: 100%;
            height: 50px;
            margin-bottom: 0px;
            .logo {
                margin-right: 5px;
                margin-top: 5px;
                margin-bottom: 8px;
                img {
                    height: 40px;
                    margin-right: 0px;
                    margin-top: -8px;
                }
                .global {
                    color: $white1;
                }
                .biker {
                    color: $white1;
                }
                .slogan {
                    color: $white1;
                    font-size: 16px;
                    font-weight: 200;
                    line-height: 1.4;
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
            }
            .contacts {
                margin-top: 20px;
                padding: 0 0 0 0;
                text-align: right;
            }
            .logo-container {
                padding: 0 0 0 0;
            }
        }*/
        label {
            color: black;
            font-weight: normal;
        }
        .glyphicon-star {
            color: #fce42b;
        }
        .btn-success {
            background-color: $color2;
            border-color: lighten($color2, 10%);
        }
        .btn-success:hover {
            background-color: lighten($color2, 10%);
            border-color: darken($color2, 10%);
        }
        .license {
            font-size: 0.6em;
            vertical-align: top;
        }
    }
}
