html body .page.home-page {
    width: 100%;
    min-height: 600px;
    height: 100%;
    background: url("/assets/images/globalbiker-bolivie-01.jpg") #555 no-repeat fixed center left;
    box-shadow: 0 0 800px rgba(90, 85, 85, 0.8) inset;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: $fontFamilly;
    color: $white3;
    padding-top: 10px;
    a {
        &.light-button {
            @include button-variant($white3, rgba($white3, 0.4), rgba($white3, 0.6));
            text-shadow: 1px 1px 0 #777;
        }
        &.make-a-tour-button {
            margin-top: 50px;
            padding: 20px;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .logo-full {
        margin-left: auto;
        margin-right: auto;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-sm-min) {
            margin-left: inherit;
            margin-right: inherit;
        }
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {}
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: $screen-lg-min) {}
    }
    h1 {
        font-family: $fontFamilly2;
        color: $white2;
        text-shadow: 1px 1px 0 #777;
        text-align: center;
        /* Extra small devices (phones, less than 768px) */
        margin-top: 20px;
        font-size: 35px;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-sm-min) {
            margin-top: 50px;
            font-size: 70px;
        }
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
            margin-top: 80px;
            font-size: 80px;
        }
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: $screen-lg-min) {
            margin-top: 100px;
            font-size: 100px;
        }
    }
    h2.motto {
        color: $white2;
        text-align: center;
        margin: auto;
        font-weight: normal;
        /* Extra small devices (phones, less than 768px) */
        font-size: 18px;
        max-width: 400px;
        /* Small devices (tablets, 768px and up) */
        @media (min-width: $screen-sm-min) {
            font-size: 26px;
            max-width: 600px;
        }
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: $screen-md-min) {
            font-size: 28px;
            max-width: 650px;
        }
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: $screen-lg-min) {
            font-size: 30px;
            max-width: 700px;
        }
    }
}
