<form novalidate role="form" name="form" ng-submit="submitForm(form)">
    <tabset>
        <tab heading="Point of interest">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required" ng-class="{ 'has-error':  form.type.$invalid, 'has-success':form.type.$valid }">
                        <label class="control-label">Type</label>
                        <select required name="type" ng-model="interest.type" class="form-control">
                            <option value="danger" translate="global.interest.type.danger">danger</option>
                            <option value="information" translate="global.interest.type.information">information</option>
                            <option value="water-point" translate="global.interest.type.water-point">water point</option>
                            <option value="wc" translate="global.interest.type.wc">wc</option>
                            <option value="bike-shops" translate="global.interest.type.bike-shop">bike-shop</option>
                            <option value="interest" translate="global.interest.type.interest">interest</option>
                            <option value="hobbies" translate="global.interest.type.hobbies">hobbies</option>
                            <option value="accomodation" translate="global.interest.type.accomodation">accomodation</option>
                            <option value="food" translate="global.interest.type.food">food</option>
                            <option value="velotoulouse" translate="global.interest.type.velotoulouse">velo toulouse</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required" ng-class="{ 'has-error':  form.name.$dirty && form.name.$invalid, 'has-success': form.name.$dirty && form.name.$valid }">
                        <label class="control-message" translate="mytourstep.name">Name</label>
                        <input required name="name" ng-model="interest.name" type="text" class="form-control" placeholder="Enter the name of this point ...">
                        <label class="error-message" ng-show="form.name.$invalid && form.name.$dirty" translate="mytourstep.name_warn">The name is required.</label>
                    </div>
                </div>
            </div>
            <div class="form-group required" ng-class="{ 'has-error':  form.description.$dirty && form.description.$invalid, 'has-success': form.description.$dirty && form.description.$valid }">
                <label class="control-label" translate="mytourstep.description">Description</label>
                <textarea required name="description" ng-model="interest.description" type="text" class="form-control" placeholder="Enter the description of this point ..."></textarea>
                <label class="error-label" ng-show="form.description.$invalid && form.description.$dirty" translate="mytourstep.description_warn">The description is required.</label>
            </div>
        </tab>
        <tab heading="Photos">
            <div class="form-group" ng-if="!photo">
                <div file-upload="photosupload" class="pull-right">
                    <i class="fa fa-picture-o"></i>  <span translate="global.actions.uploadphoto"></span>
                </div>
                <div>
                    <a class="link" ng-click="selectPhoto(photo)" ng-repeat="photo in interest.photos">
                        <img class="smart-photo" alt="-" ng-src="{{ photo.thumbnails.w600h400 }}" />
                    </a>
                </div>
            </div>
            <div class="form-group" ng-if="photo">
                <div>
                    <a ng-click="updatePhoto(photo);" class="btn btn-success pull-right">
                        <i class="fa fa-check"></i>
                    </a>
                    <a ng-click="removePhoto(interest, photo);" class="btn btn-primary pull-right">
                        <i class="fa fa-trash" ng-title="'global.actions.remove' | translate"></i>
                    </a>
                    <img class="smart-photo" alt="-" ng-src="{{ photo.thumbnails.w600h400 }}" />
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input ng-model="photo.title" type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                    <label class="control-label">Author name</label>
                    <input ng-model="photo.author.name" type="text" class="form-control" placeholder="Author name">
                </div>
                <div class="form-group">
                    <label class="control-label">Author Web site</label>
                    <input ng-model="photo.author.url" type="text" class="form-control" placeholder="Author url">
                </div>
                <div class="form-group">
                    <label class="control-label">License</label>
                    <select ng-model="photo.licenseId" ng-options="license._id as license.name for license in licenses"></select>
                </div>
            </div>
        </tab>
    </tabset>
 
    <div class="form-group"  ng-if="!photo">
        <a ng-if="!interest._id" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="submitForm(form)">
            <i class="icon fa fa-plus-square"></i> 
            <span translate="mytourstep.add_to_map">Save</span>
        </a>
        <a ng-if="interest._id" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="submitForm(form)">
            <i class="fa fa-plus"></i>
            <span translate="global.actions.save">Save</span>
        </a>
        <a ng-if="interest._id" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="remove(interest)">
            <i class="fa fa-trash"></i>
            <span translate="global.actions.remove">Remove</span>
        </a>
    </div>
</form>