<div class="keyword-icons-area" ng-class="{ 'in-edition': inEdition }" ng-mouseover="open()" ng-mouseleave="closeAfterDelay()">
    <div ng-if="inEdition" class="tour-icon keyword-icons selected-icon" ng-click="openClose()">
        <span class="glyphicon glyphicon-th-list" ></span>
        <span class="caret"></span>
    </div>
    <div ng-if="inEdition" class="keyword-icons-select" ng-class="{ 'visible': isSelectVisible }">
        <div ng-repeat="option in options" class="tour-icon keyword-icons option" ng-class="option.getClasses()"  ng-click="select(option)"
            tooltip="{{ option.label | translate }}" tooltip-placement="right" 
        ></div>
    </div>
    <div ng-if="!inEdition" ng-repeat="option in selectedOptions" class="tour-icon keyword-icons selected-icon" ng-class="'icon-tag-' + option.key" ng-click="openClose()" 
        tooltip="{{ option.label | translate }}" tooltip-placement="bottom" 
    </div>
</div>