<div class="icon-bar">

    <div ng-visible="tour.interest" class="tour-icon tour-rating interest" ng-class="{ 'in-edition': inEdition }">
        <label>Interest</label>
        <rating class="rating-bar" state-on="'glyphicon-star selected'" state-off="'glyphicon-star unselected'" readonly="!inEdition" ng-model="tour.interest" max="5"></rating>
    </div>

    <div ng-visible="tour.difficulty" class="tour-icon tour-rating difficulty" ng-class="{ 'in-edition': inEdition }">
        <label>Difficulty</label>
        <rating class="rating-bar" state-on="'fa fa-bicycle selected'" state-off="'fa fa-bicycle unselected'" readonly="!inEdition" ng-model="tour.difficulty" max="3"></rating>
    </div>
    <div class="tour-travel-with-icon" travel-with-icon model="tour.travelWith" in-edition="inEdition"></div>

    <div class="tour-keyword-icons" keyword-icons model="tour.keywords" in-edition="inEdition"></div>

</div>
