.tour-page {
    width: 95%;
    .details-area {
        .edit-button {
            margin: 2px;
        }
        h1 {
            font-size: 32px;
            margin-top: 20px;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
        }
        h2 {
            font-size: 25px;
            margin-top: 20px;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .icon-bar {
            .travel-with-select {
                width: 50px;
                display: inline-block;
            }
            .tour-travel-with-icon, .tour-keyword-icons {
                display: inline-block;
            }
            .tour-icon {
                display: inline-block;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                laberl: {
                    margin: 5px;
                };
                &.difficulty, &.interest, &.distance {
                    width: 100px;
                    font-size: 12px;
                    float: right;
                   /* background: #eee;
                    border: 1px solid #ccc;
                    margin: 5px;
                    line-height: 14px;
                    border-radius: 10px;*/
                    label {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
        .description {
            margin-top: 20px;
            border: 1px solid rgba($color2, 0.2);
            background: rgba($color2, 0.01);
            padding: 25px;
            text-align: justify;
        }
        .mce-tinymce {
            margin: 30px 0;
            clear: both;
        }
        .steps-list-area {
            thead tr th {
                text-align: center;
                &.route {
                    text-align: left;
                }
            }
            tbody tr td.step-index {
                text-align: center;
            }
        }
    }
    .tour-map-area .tour-map {
        height: 600px;
    }
}
