<div class="tour-details-area">

    <div class="row">

        <div class="col-md-6">
            <div class="details-area bordered-area large-area">
                <div class="tour-description-area">
                    <a ng-if="securityService.isTourEditable(tour)" class="btn btn-primary edit-button pull-right" ng-click="saveTour(tour)" ng-title="{{ 'global.actions.save' | translate }}">
                        <i class="fa fa-check"></i>
                    </a>
                    <h1>{{ tour.title }}</h1>

                    <div class="icon-bar">
                        <div ng-if="tour.distance" class="tour-icon distance">
                            <label>Distance</label>
                            <div>
                                {{ tour.distance / 1000 }} kms
                            </div>
                        </div>
                        <div class="tour-icon rating interest in-edition">
                            <label>Interest</label>
                            <rating class="rating-bar" state-on="'glyphicon-star selected'" state-off="'glyphicon-star unselected'" ng-model="tour.interest" max="5"></rating>
                        </div>

                        <div ng-visible="tour.difficulty" class="tour-icon rating difficulty in-edition">
                            <label>Difficulty</label>
                            <rating class="rating-bar" state-on="'fa fa-bicycle selected'" state-off="'fa fa-bicycle unselected'" ng-model="tour.difficulty" max="3"></rating>
                        </div>
                        <div class="tour-travel-with-icon" travel-with-icon model="tour.travelWith" in-edition="true"></div>

                        <div class="tour-keyword-icons" keyword-icons model="tour.keywords" in-edition="true"></div>
                    </div>

                    <div>
                        <label>Description</label>
                        <textarea ui-tinymce="tinymceOptions" name="description" ng-model="tour.description" type="text" class="form-control"></textarea>
                    </div>

                    <div class="image-horizontal-selector">
                        <div class="image-horizontal-scroll">
                            <img ng-repeat="photo in photos" class="link smart-photo" alt="-" ng-src="{{ photo.thumbnails.w600h400 }}" ng-class="{selected: tour.photo._id === photo._id }" ng-click="selectPhoto(photo)" />
                        </div>
                    </div>
                </div>

                <div tour-presentation-steps-list steps="tour.steps"></div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-primary" ng-click="createStep()">
                            <i class="fa fa-plus"></i>
                            <span translate="global.step.create">Create a new step</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="tour-map-area responsive-map-area smart-area smart-map-area">
                <div class="tour-map" map config="mapConfig"></div>
            </div>
        </div>
    </div>

</div>
